<!-- approval grid  -->
<div class="container-responsive approval-grid">
  <app-dashboard-menu-header
    title="Add Brands Table"
  ></app-dashboard-menu-header>

  <app-status-button
    [btnIndex]="btnIndex"
    (getProductsEvent)="getNewBrands($event)"
    (openAddBrandModalEvent)="openAddBrandModal()"
    [addGroupModalCenter]="'#addGroupModalCenter'"
    [NewButton]="'New'"
    [ActiveButton]="'Active'"
    [InactiveButton]="'Inactive'"
    [AddButtonName]="'Add Brand'"
    [addBtnIndex]="addBtnIndex"
  ></app-status-button>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <div *ngIf="btnIndex!=-1" class="col tableHeader">
        <input
          type="checkbox"
          [(ngModel)]="selectAll"
          (ngModelChange)="toggleAllCheckboxes()"
          #allselected
        />
        Select All
      </div>
      <ng-container *ngFor="let header of headers">
        <div class="col tableHeader">{{ header }}</div>
      </ng-container>
      <div class="col tableHeader" *ngIf="btnIndex != -1">Actions</div>
    </div>
    <div>
      <h1
        *ngIf="groupList && groupList.length == 0"
        class="text-center"
        style="color: red; margin-top: 15%"
      >
        Brands Not Found
      </h1>
    </div>
    <!-- table body -->

    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let brand of groupList; let i = index"
      (mouseover)="isHovered = i"
      (mouseout)="isHovered = null"
      (dblclick)="openModalWithData(brand)"
    >
      <app-brands-grid-view
        [brand]="brand"
        [isHovered]="isHovered"
        [i]="i"
        [activeGroupId]="activeGroupId"
        [btnIndex]="btnIndex"
        (checkboxSelectedEvent)="checkboxSelected($event)"
        (updateIsActiveEvent)="updateIsActive($event.status, $event.brandId)"
      ></app-brands-grid-view>
    </section>
  </div>
  <div class="d-flex justify-content-end">
    <button
      *ngIf="btnIndex === 0 "
      class="custom-btn"
      (click)="chageActiveInactive(true)"
    >
      Active
    </button>
    <button
      *ngIf="btnIndex === 1 "
      class="custom-btn"
      (click)="chageActiveInactive(false)"
    >
      Inactive
    </button>
  </div>
</div>

<!-- add Group modal   -->
<div *ngIf="btnClick">
  <app-brands-modal
    [IdName]="'#addGroupModalCenter'"
    [isEdit]="isEditMode"
    [doubleClickData]="doubleClickData"
    (resetFormEvent)="resetForm()"
    (formDataEvent)="onSubmit($event)"
    [addBtnClick]="addbtnClickP"
  ></app-brands-modal>
</div>
<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#productGroupModal"
  #userExistModalBTN
>
  Launch demo modal
</button>
<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#addGroupModalCenter"
  #addGroupModalCenterG
>
  Launch demo modal
</button>
<!-- Modal -->
<app-dynamic-alert-modal
  [alertMsg]="alertMsg"
  [alertTitle]="alertTitle"
  [id]="'productGroupModal'"
></app-dynamic-alert-modal>
