.clientList_container {
  margin: 1% 6%;
  background: #eceff2a4;
  /* box-shadow: 0 0 0.35rem var(--color-gray); */
  box-shadow: 0 0 0.35rem #ffffff;
  border: 1px solid #d9d9d9;
  width: 100%;
}
.slider_wrap {
  position: relative;
  overflow: hidden;
  height: 20rem;
}
.product_slider {
  border: 1px solid #d9d9d9;
  justify-content: space-between;
}
.text {
  color: rgb(0, 119, 255);
  text-decoration: underline;
  font-size: 1.5rem;
  cursor: pointer;
  /* padding-right: 100vw; */
}
/* .container-fluid {
    padding: 10px;
  } */
.slider_main {
  padding-top: 1vh;
  padding-left: 1vw;
  position: absolute;

  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.image-container {
  transition: all 0.3s;

  /* border: 1px solid rgb(184, 184, 184); */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.image-container:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 3px rgb(145, 160, 160);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* .item {
  width: 10vw;
  background: #eceff2a4;
  cursor: pointer;

  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  margin: 15px;
} */
.item {
  margin-bottom: 1rem;
  height: 14.7rem;
  width: 14rem;
  display: inline-flex;
  position: relative;
  /* height: 10rem; */
  /* margin: 6.5px; */
  border: 1px solid rgb(184, 184, 184);
  /* border: 1px solid #2c506d; */
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-image {
  height: 9rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.name-container {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-top: 2.5vh;
  padding-left: 0.5vw;
  height: 2rem;
}
.details-cintainer {
  background-color: white;
  border-radius: 5px;
  margin: 1rem;
}

.slider_container {
  /* background: #eceff2a4; */
  background-color: #eeeeee;
  /* width: 98%; */
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  /* margin: 3% 6%; */
}

.text-head {
  margin-left: 1.7rem;
  border-bottom: 1px solid rgb(202, 198, 198);
  /* padding-top: 1rem; */
}

.text {
  color: rgb(0, 119, 255);
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  font-weight: bold;
  /* padding-right: 100vw; */
}

.company-name {
  color: #558bb4;
}
.PC {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.price {
  color: #5b5a5a;
  font-weight: 600;
}
@media (max-width: 600px) and (min-width: 300px) {
  .item {
    width: 12rem;
    height: 12rem;
  }
  .slider_wrap {
    height: 20vh;
  }

  .image-container {
    width: 12rem;
    min-height: 10rem;
    max-height: 12rem;
  }

  .image-container img {
    max-width: 12rem;
    min-width: 12rem;
    min-height: 6rem;
    max-height: 6rem;
  }
  .name-container {
    height: 1vh;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .item {
    width: 14rem;
    height: 12rem;
  }
  .slider_wrap {
    height: 25vh;
  }

  .image-container {
    width: 14rem;
    min-height: 12rem;
    max-height: 12rem;
  }

  .image-container img {
    max-width: 14rem;
    min-width: 14rem;
    min-height: 6rem;
    max-height: 6rem;
  }
  .name-container {
    height: 1vh;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .item {
    height: 12rem;
    width: 14rem;
  }
  .slider_wrap {
    height: 30vh;
  }

  .image-container {
    width: 14rem;
    min-height: 7rem;
    max-height: 7rem;
  }

  .image-container img {
    max-width: 14rem;
    min-width: 14rem;
    min-height: 7rem;
    max-height: 7rem;
  }
  .name-container {
    height: 2vh;
  }
}
