.clientList_container {
  margin: 1% 6%;
  background: #eceff2a4;
  /* box-shadow: 0 0 0.35rem var(--color-gray); */
  box-shadow: 0 0 0.35rem #ffffff;
  border: 1px solid #d9d9d9;
  width: 90%;
}
.slider_wrap {
  position: relative;
  overflow: hidden;
  height: 250px;
}
.container-fluid {
  /* padding: 10px; */
}
.slider_main {
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  width: 202%;
  display: flex;
  flex-direction: row;
}

.item {
  width: 200px;
  background: #eceff2a4;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  margin: 15px;
}

.image-container {
  width: 100%;
  border-bottom: 1px solid #e1f6ff;
  border-radius: 5px;
  background-color: #eceff2a4;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  min-height: 150px;
  max-height: 150px;
  padding-top: 5%;
}

.image-container img {
  max-width: 90%;
  min-width: 90%;
  min-height: 130px;
  max-height: 130px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.name-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  padding-top: 7px;
}
