.side{
       width: 100%;
       background-color: white;
       /* border-radius: 7px; */
       /* padding-left: 20px; */
       
       /* margin-left: 100px; */
}
.parent{
    font-size: 1.5rem;
    font-weight: 600;
}
.products{
      margin-right: 5px;
}
p{
     font-size: 1rem;
     margin: 0;
     margin-bottom: 3px;
}
a{
   text-decoration: none;  
}
label{
       font-size: 1rem;
       margin-left: 5px;
}

.categoryName{
       font-weight: bold;
}
.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-check-input {

  accent-color: #007bff;
}

.radio-label {
  cursor: pointer;
  transition: color 0.3s, font-weight 0.3s;
}

.radio-label.bold {
  font-weight: bold;
}

.radio-label.selected {
  color: #007bff;
}

.radio-label:hover {
  color: #0056b3;
}
