<div class="side">
  <p class="parent">Categories</p>
  <div *ngFor="let entry of groupData | keyvalue; let i = index">
    <div *ngIf="showAll || i < initialLimit" class="radio-container">
      <input
        class="form-check-input"
        type="radio"
        name="category"
        id="category-checkbox-{{ i }}"
        style="cursor: pointer"
        (click)="setSelectData(entry.key, entry.value)"
        [ngClass]="{ selected: entry.value === activeEntry }"
        [checked]="entry.value === activeEntry"
      />
      <label
        for="category-checkbox-{{ i }}"
        class="radio-label"
        style="cursor: pointer"
        [ngClass]="{ bold: entry.value === activeEntry }"
      >
        {{ entry.value }}
      </label>
    </div>
  </div>

  <hr />

  <div *ngIf="!isProductPage">
    <p class="parent">Companies</p>
    <ul class="list-unstyled mb-3">
      <div *ngFor="let company of companyList; let j = index">
        <li *ngIf="showAllBrand || j < initialLimit">
          <input
            class="form-check-input"
            type="radio"
            name="brand"
            id="brand-checkbox-{{ j }}"
            style="cursor: pointer"
            (click)="setSelectBrand(company.companyName, company.groupName)"
            (click)="selectCompany(company.companyName)"
            [ngClass]="{ selected: company.companyName === activeEntry }"
            [checked]="company.companyName === activeEntry"
          />
          <label
            class="form-check-label"
            for="brand-checkbox-{{ j }}"
            style="cursor: pointer"
            [ngClass]="{ bold: company.companyName === activeEntry }"
          >
            {{ company.companyName }}
          </label>
        </li>
      </div>
      
    </ul>
    <hr />
  </div>
</div>
