<!-- header -->
<app-admin-header></app-admin-header>
@if (loading) {
  <div class="text-center"><h5>Loading products...</h5></div>
}
@if (!loading) {
  <section class="dashboard_container">
    <!-- <div class="container"> -->
    <div
      class="offcanvas offcanvas-start sidebar"
      [class.show]="showSidebar"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
      >
      <div class="offcanvas-header sidebar_header pb-0">
        <!-- <i class="bi bi-grid-fill fs-6 me-2"></i> -->
        <h3 class="offcanvas-title" id="offcanvasScrollingLabel">Dashboard</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body mt-4">
        @for (permission of userPermission; track permission) {
          <div>
            <div class="sidebar_delimiter"></div>
            <div class="sidebar_item d-flex justify-content-between p-1 py-3">
              <div class="d-flex">
                <a
                  class="d-flex menu_link"
                  [routerLink]="['/admin', permission.navigateUrl]"
                  routerLinkActive="active"
                  >
                  <span class="title_icon text-start me-2">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </span>
                  <h5>{{ permission.menuName }}</h5>
                  <!-- Displaying menu name -->
                </a>
              </div>
            </div>
          </div>
        }
        <div class="sidebar_delimiter"></div>
      </div>
    </div>
    <!-- ================  end of sidebar =============  -->
    @if (this.userPermission.length > 0) {
      <div class="dashboard_body px-5 py-2">
        <router-outlet></router-outlet>
      </div>
    }
    @if (userPermission.length === 0) {
      <div class="bg-white pt-5">
        <h1 class="text-center mx-auto my-auto text-danger">
          Contact Your Company Manager For Permission
        </h1>
      </div>
    }
  </section>
}
