<div class="inventoryBody">
  <app-dashboard-menu-header title="Inventory"></app-dashboard-menu-header>
  <!-- search_by_all -->
  <div class="search-container bg-white mt-3 py-4">
    <div class="search-container-inside">
      <div>
        <input
          id="searchInput"
          type="text"
          class="search-input"
          (keyup)="onKeyUp($event)"
          [(ngModel)]="searchInputValue"
          placeholder="{{ placeholder }}{{ searchby }}"
        />
      </div>
      <div>
        <i class="fa-solid fa-search search-icon" (click)="searchIcon()"></i>
      </div>
    </div>

    <div class="dropdown">
      <button
        class="dropdown-toggle dropdown-design"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ SearchByname }}
      </button>
      <ul
        style="z-index: 2000"
        class="dropdown-menu search_Name_list"
        aria-labelledby="dropdownMenuButton1"
      >
        <li>
          <a class="dropdown-item" (click)="setSearchOption('GroupCode')">
            Group Code</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="setSearchOption('GoodsName')">
            Goods Name</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="inventory_search_div bg-white mt-3 py-4"></div> -->
  <div class="search_by_all d-flex">
    <!-- Scrollable Table -->
    <div class="scrollable-table border border-1 bg-light">
      <!-- Table Header Row -->
      <div class="row headerRow sticky-top fw-bolder">
        <!-- Display table headers -->
        <ng-container *ngFor="let header of headers">
          <div class="col tableHeader">{{ header }}</div>
        </ng-container>
      </div>
      <!-- Display message if no groups found -->
      <div>
        <h1
          *ngIf="filteredData && filteredData.length == 0"
          class="text-center"
          style="color: red; margin-top: 15%"
        >
          Inventory Empty
        </h1>
      </div>

      <!-- Table Body -->
      <section
        class="row tablebodyRow fw-semibold"
        *ngFor="let inventory of filteredData; let i = index"
        (mouseover)="isHovered = i"
        (mouseout)="isHovered = null"
      >
        <!-- Render Grid View for each group -->
        <app-seller-inventory-grid-view
          [isHovered]="isHovered"
          [i]="i"
          [inventory]="inventory"
          [activeGroupId]="activeGroupId"
        ></app-seller-inventory-grid-view>
      </section>
    </div>
  </div>
</div>
