<div class="inventoryBody">
  <app-dashboard-menu-header title="Inventory"></app-dashboard-menu-header>
  <!-- search_by_all -->
  <app-seller-inventory-search
    [placeholder]="placeholder"
    [searchby]="searchby"
    [SearchByname]="SearchByname"
    [searchInputValue]="searchInputValue"
    (setSearchOptionEvent)="setSearchOption($event.searchByname)"
    (keyupEvent)="onKeyUp($event)"
  ></app-seller-inventory-search>
  <!-- <div class="inventory_search_div bg-white mt-3 py-4"></div> -->
  <div class="search_by_all d-flex">
    <!-- Scrollable Table -->
    <div class="scrollable-table border border-1 bg-light">
      <!-- Table Header Row -->
      <div class="row headerRow sticky-top fw-bolder">
        <!-- Display table headers -->
        @for (header of headers; track header) {
          <div class="col tableHeader">{{ header }}</div>
        }
      </div>
      <!-- Display message if no groups found -->
      <div>
        @if (filteredData && filteredData.length == 0) {
          <h1
            class="text-center"
            style="color: red; margin-top: 15%"
            >
            Inventory Empty
          </h1>
        }
      </div>

      <!-- Table Body -->
      @for (inventory of filteredData; track inventory; let i = $index) {
        <section
          class="row tablebodyRow fw-semibold"
          (mouseover)="isHovered = i"
          (mouseout)="isHovered = null"
          >
          <!-- Render Grid View for each group -->
          <app-seller-inventory-grid-view
            [isHovered]="isHovered"
            [i]="i"
            [inventory]="inventory"
            [activeGroupId]="activeGroupId"
          ></app-seller-inventory-grid-view>
        </section>
      }
    </div>
  </div>
</div>
