<div id="content-wrap">
  <section class="slider_container mx-auto">
    <section
      class="product_slider bg-white mx-auto my-3 py-1 align-items-center"
      >
      <div class="grid-container">
        <!-- Check if leftAdvertisements is empty -->
        @if (leftAdvertisements.length === 0) {
          <div class="default-banner bg-light text-center item-1">
            <img
              src="assets/images/banner/banner3.jpg"
              class="default-banner-img"
              alt="Default Banner Image"
              />
            </div>
          } @else {
            @for (banner of leftAdvertisements; track banner; let i = $index) {
              <div
                [ngClass]="getClass(i)"
                >
                <div class="cards bg-dark text-white item-{{ i + 1 }}">
                  <img
                [src]="
                  banner.bannerImage.substring(
                    banner.bannerImage.indexOf('assets')
                  ) || 'assets/images/banner/banner1.jpg'
                "
                    class="cards-img"
                    alt="Advertisement Image"
                    />
                  </div>
                </div>
              }
            }
            <!-- Banner section when leftAdvertisements is not empty -->
          </div>
        </section>
      </section>
    </div>

    <!-- <ng-template #defaultBanner>

    <div class="default-banner bg-light text-center">
      <img
        src="assets/images/banner/banner3.jpg"
        class="default-banner-img"
        alt="Default Banner Image"
        />
      </div>

    </ng-template> -->
