.table-body-data {
  flex-direction: row;
  display: flex;
  background-color: white;
  /* padding-right: 3rem; */
}

.tableHeader,
.tableBody {
  min-width: 10rem;
}

.tableBody {
  background-color: white;
  padding: 0.7rem;
  border-bottom: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}





.actionBtn {
  cursor: pointer;
  background: none;
  border: none;
}
.active-row {
  background-color: rgb(233, 238, 243);
}
