<div class="table-body-data">
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    #{{ i + 1 }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.productName }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    <img
      class="product_image"
      [src]="
        product.imagePath ? '/asset' + product.imagePath.split('asset')[1] : ''
      "
      alt="no image was uploaded!"
    />
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.price }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.discountAmount }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.discountPct }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.totalPrice }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductPriceId || isHovered == i
    }"
  >
    {{ product.addedDate | date : "dd MMM yyyy" }},<br />
    {{ product.addedDate | date : "hh:mm a" }}
  </div>
</div>
