#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 1px solid red; */
}
.product_sidebar_container {
  background-color: #ffffff;
  padding-left: 1.5rem;
  padding-top: 4rem;
  padding-right: 1.5rem;
  /* margin-left: -1.5rem; */
  margin-right: 2rem;
  border-right: 1px solid rgb(165, 165, 165);
  min-height: 42rem;
  margin-left: 7rem;

  /* border: 1px solid rgb(0, 32, 32); */
}

#content-wrap {
  flex: 1; /* Footer height */
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;
}

#footer {
  padding-top: 2vh;
  background-color: #222831;
  padding-top: 1rem;
  width: 100%;
}

.quantity-txt {
  width: 60%;
}
.product {
  height: 11rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.update {
  font-size: 10px;
}

.search_bar {
  z-index: 0;
  margin: 0 0.75rem;
  background-color: var(--background-color);
}
.product-title {
  color: #3c3939;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 700;
}
.container {
  /* border: 1px solid aqua; */
  margin-left: -1rem;
}
.supplier {
  width: 15rem;
  background-color: #0a8bba;
  color: white;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}
.clr {
  color: #980000;
}
.quantity {
  font-size: 1rem;
  /* color: gray;  */
  font-weight: 600;
}
.detail-img {
  height: 12rem;
}
.title {
  margin-bottom: 0;
}
.prime-color {
  color: var(--color-primary);
}
.type {
  margin-bottom: 1px;
}
.second-color {
  color: var(--color-gray);
}
.detail-img {
  transition: transform 0.3s ease-in-out;
}
.detail-img:hover {
  transform: scale(1.2);
}
.plus {
  padding: 1px 5px;
  background-color: #eff0f5;
  color: #9e9e9e;
}

.money-icon {
  font-size: 1.5rem;
}
/* .plus:hover{
   background-color: #b9bbc1;
   color: white;
} */
.minus {
  padding: 1px 5px;
  background-color: #eff0f5;
  color: #9e9e9e;
}
/* .minus:hover{
    background-color: #b9bbc1;
   color: white;
} */
.txt-qt {
  width: 3rem;
}
/* .currency{
   font-size: 30px;
   font-weight: bold;
} */

/*  for stickey footer */

.base-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.product:hover {
  border: 1px solid #c3c8cc;
  box-shadow: 0 0.1rem 0.6rem #7e9eb8;
}
.activeDiv {
  cursor: pointer;
}
.card-img {
  width: 5vw;
  height: 7vh;
  margin-right: 0.5em;
  /* border: 1px solid black; */
}

.right-sidebar {
  width: 11rem;
  margin-top: 4.25rem;
  /* background-color: #e7e7e7; */
}

.cart-img {
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
}
.container {
  max-width: 1270px;
  min-width: 1270px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .product {
    width: 13rem;
  }
  .card-img {
    height: 6vh;
  }
}
@media (max-width: 1300px) {
  .product {
    width: 15rem;
  }
  .card-img {
    height: 6vh;
    /* margin-top: -1vh; */
  }
}
@media (max-width: 991px) {
  .product_sidebar_container {
    display: none;
  }
  .card-img {
    height: 5vh;
    /* margin-top: -1vh; */
  }
}
