<div class="tableRow">
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
    >
    <input
      type="checkbox"
      [(ngModel)]="row.isSelected"
      (click)="
        checkboxSelected({
          userId: row.userId,
          companyCode: row.companyCode,
          productId: row.productId,
          event: $event
        })
      "
      />
    </div>

    <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
      #{{ i + 1 }}
    </div>
    <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
      <img
        class="product_image"
        [src]="row.imagePath ? row.imagePath.split('src')[1] : ''"
        alt="no image was uploaded!"
        />
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.productName }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.fullName }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.companyName }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.price }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.discountAmount }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.discountPct }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.totalPrice }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.effectivateDate | date : "dd MMM yyyy" }}<br />
        {{ row.effectivateDate | date : "hh:mm a" }}
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ row.endDate | date : "dd MMM yyyy" }}<br />
        {{ row.endDate | date : "hh:mm a" }}
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <button
          class="custom-btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="showDetails(row)"
          >
          Details
        </button>
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            @if (btnIndex != 1) {
              <button class="actionBtn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="green"
                  class="bi bi-check2 me-3"
                  viewBox="0 0 16 16"
            (click)="
              updateProduct(
                row.userId,
                row.companyCode,
                row.productId,
                'Approved'
              )
            "
                  >
                  <path
                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                    />
                  </svg>
                </button>
              }
            </div>
            <div>
              @if (btnIndex != 0) {
                <button
                  class="actionBtn"
          (click)="
            updateProduct(
              row.userId,
              row.companyCode,
              row.productId,
              'Rejected'
            )
          "
                  >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="red"
                    class="bi bi-x-lg fw-bolder"
                    viewBox="0 0 16 16"
                    >
                    <path
                      d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                      />
                    </svg>
                  </button>
                }
              </div>
            </div>
          </div>

          <!-- Modal for tadeLicence -->
          <!-- <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
          >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header modal-heading">
                <h1 class="modal-title text-light fs-5" id="staticBackdropLabel">
                  {{ imageTitle }}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img [src]="imagePath" alt="no image was uploaded!" />
              </div>
            </div>
          </div>
        </div> -->
      </div>
