<div
  class="modal fade"
  #addGroupModalCenterG
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-end align-items-center">
          <button
            type="button"
            class="btn-close border border-1"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="resetForm()"
          ></button>
        </div>
        <!-- add group form design  -->
        <div>
          <!-- <h2 class="register_title">Add Product Groups Name</h2> -->
          <div class="d-flex justify-content-center align-items-center">
            <!-- Back Button on the left -->

            <!-- Title in the middle -->
            <h2 class="register_title">
              {{ isEdit ? "Edit Unit Name" : "Add Unit Name" }}
            </h2>
          </div>
          <hr />
          <form [formGroup]="addGroupForm">
            <div class="form-group">
              <label for="description"
                ><span class="text-danger">*</span>Product Unit Name</label
                >
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  [class.error]="isFieldInvalid('description')"
                  />
                  @if (isFieldInvalid('description')) {
                    <span class="text-danger"
                      >Product Unit Name is required.</span
                      >
                  }
                </div>

                <div class="form-group">
                  <label for="name"
                    ><span class="text-danger">*</span>Product Unit Symbol</label
                    >
                    <input
                      type="text"
                      id="name"
                      formControlName="name"
                      [class.error]="isFieldInvalid('name')"
                      />
                      @if (isFieldInvalid('name')) {
                        <span class="text-danger"
                          >Product Unit Symbol is required.</span
                          >
                      }
                    </div>
                    <!-- Button trigger modal -->
                    <button
                      type="submit"
                      class="button mt-3"
                      id="sign-in-button"
                      (click)="onSubmit()"
                      >
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
