body {
  background-color: #ffffff;
}
.products {
  cursor: pointer;
  min-width: 1040px;
  max-width: 1040px;
  /* border: 1px solid red; */
  /* padding-top: 3.5rem; */
  /* padding-bottom: 6.8rem; */
  max-height: 100%;
}
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.pp {
  /* border: 1px solid red; */
}
.filter-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  margin-bottom: 0.2rem;
}
#footer {
  padding-top: 2vh;
  background-color: #222831;
  padding-top: 1rem;
  width: 100%;
}
.foot {
  background-color: #eeeeee;
}

#content-wrap {
  /* flex: 1; */
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;
}

.grid-container {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem; /* Adjust the gap between cards */
  /* border: 1px solid black */
}
.grid-item {
  /* border: 1px solid red; */
  /* height: 22rem; */
  /* margin-bottom: 1rem; */
}
.product_slider {
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding-right: 1rem;
  min-height: 65vh;
}
.group-product-content {
  max-width: 1300px;
  margin: 0.4rem auto;
  padding: 0 1rem;
}
.no-products {
  text-align: center;
  margin-left: 0.5rem;
  padding: 4rem;
  font-size: 2rem;
  color: #ff0000; /* Red color for emphasis */
  background-color: #fffdfd; /* Light red background for better visibility */
  border: 1px solid #ffcccc; /* Border to make it stand out */
  border-radius: 1rem; /* Rounded corners */
}
.product_sidebar_container {
  /* background-color: #ffffff; */
  /* padding-left: 1rem; */
  /* padding-top: 1rem; */
  max-width: 210px;
  min-width: 210px;
  padding-right: 10px;
  /* margin-left: -1.5rem; */
  /* margin-right: 1rem; */
  /* border-right: 1px solid rgb(247, 247, 247); */
  min-height: 65vh;
  /* margin-left: 7rem; */

  /* border: 1px solid aqua; */
}
.companyName {
  margin-left: 1rem;
  padding-top: 1rem;
}
.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);

  max-width: 100%;
  border: none;
  height: 0.1rem;
  margin-left: 01rem;
}

@media (max-width: 768px) {
  .product_sidebar_container {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .products {
    max-width: 90vw;
    min-width: 90vw;
  }
}

@media (max-width: 1300px) {
 
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .products {
    max-width: 75vw;
    min-width: 75vw;
    margin: 0 0;
  }
}
@media (max-width: 992px) {
 
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .products {
    max-width: 70vw;
    min-width: 70vw;
    margin: 0 0;
  }
}
@media (max-width: 780px) {
 
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .products {
    max-width: 90vw;
    min-width: 90vw;
    margin: 0 0;
  }
}
