body {
  background-color: #eeeeee;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.d-flex {
  display: flex;
}
.products {
  cursor: pointer;

  width: 78%;
  /* border: 1px solid red; */
  /* padding-top: 3.5rem; */
  /* padding-bottom: 6.8rem; */
  max-height: 100%;
}
.side-bar {
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* padding-top: 1rem; */
  /* width: 100%; */
}
#footer {
  padding-top: 2vh;
  background-color: #222831;
  padding-top: 1rem;
  width: 100%;
}
#content-wrap {
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;
}
.group-product-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}
.grid-container {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: .6rem; /* Adjust the gap between cards */
  /* border: 1px solid black */
}
.grid-item {
  /* border: 1px solid red; */
  /* height: 22rem; */
  /* margin-bottom: 1rem; */
}

.product_slider {
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding-right: 1rem;
  min-height: 65vh;
}
.product_sidebar_container {
  /* background-color: #ffffff; */
  padding-left: 1rem;
  /* padding-top: 1rem; */
  padding-right: 1rem;
  /* margin-left: -1.5rem; */
  /* margin-right: 1rem; */
  /* border-right: 1px solid rgb(247, 247, 247); */
  min-height: 65vh;
  /* margin-left: 7rem; */

  /* border: 1px solid aqua; */
}

.categoryName {
  margin-left: 1rem;
  padding-top: 1rem;
}
.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);

  max-width: 100%;
  border: none;
  height: 0.1rem;
  margin-left: 01rem;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  max-width: 30rem;
  border: 1px solid #1b1e1f;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}
.card-look {
  height: 11.5rem;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 11.5rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--color-primary);
}

.card-out-of-stock {
  opacity: 0.7;
}

.card-body {
  background-color: rgb(251, 252, 252);
}
.card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.quantity {
  font-size: 1rem;
  margin-top: -0.5rem;

  color: #333;
  text-align: center;
}

.company-name {
  font-size: 1rem;
  color: #558bb4;
  margin-bottom: -0.25rem;
  margin-top: -0.75rem;
  text-align: center;
  font-weight: bold;
}
.no-products {
  text-align: center;
  margin-left: 0.5rem;
  padding: 4rem;
  font-size: 2rem;
  color: #ff0000; /* Red color for emphasis */
  background-color: #fffdfd; /* Light red background for better visibility */
  border: 1px solid #ffcccc; /* Border to make it stand out */
  border-radius: 1rem; /* Rounded corners */
}

@media (max-width: 746px) {
  .product_sidebar_container {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }
}
