<section id="page-container">
  <div id="content-wrap" class="d-flex flex-column">
    <app-header (dataUpdated)="handleDataUpdated()"></app-header>
    <div class="link">
      <div class="link-item">
        <span [routerLink]="'/'">Home </span>
      </div>
      <div><span> / </span></div>
      <div
        *ngIf="products?.length > 0 && products[0]?.productGroupName && title"
        class="link-item"
      >
        <span>Product </span>
      </div>
      <div
        *ngIf="
          (products?.length > 0 && !products[0]?.productGroupName) || !title
        "
        class="link-item active"
      >
        <span> Product</span>
      </div>
      <div><span>/ </span></div>

      <div class="link-item active">
        <span
          *ngIf="products?.length > 0 && products[0]?.productGroupName && title"
        >
          {{ products[0].productGroupName }}</span
        >
      </div>
    </div>
    <div class="group-product-content">
      <div class="d-flex side-bar">
        <div class="product_sidebar_container">
          <app-product-sidebar
            (dataUpdated)="handleDataUpdated()"
            (companyNameChanged)="CompanyName($event)"
            (companySelected)="
              getAllProduct($event.groupCode, $event.companyCode)
            "
            [showGroup]="true"
            [showCompany]="true"
            (getAllProduct)="
              getAllProduct($event.groupCode, $event.companyCode)
            "
          ></app-product-sidebar>
        </div>

        <div class="products">
          <div class="filter-sort-container">
            <span class="item-count"
              >{{ products?.length }} items found
              <span
                *ngIf="
                  products?.length > 0 && products[0]?.productGroupName && title
                "
              >
                for
                <span class="search-term"
                  >"{{ products[0].productGroupName }}"</span
                ></span
              >
            </span>

            <div class="sort-view">
              <div class="sort-by">
                <label for="sort">Sort By:</label>
                <select id="sort">
                  <option value="best-match">Best Match</option>
                  <option value="price-low-to-high">Price: Low to High</option>
                  <option value="price-high-to-low">Price: High to Low</option>
                  <option value="new-arrivals">New Arrivals</option>
                </select>
              </div>
              <!-- <div class="view-toggle">
                <button class="view-grid active" title="Grid View">
                  ⬜⬜⬜⬜
                </button>
                <button class="view-list" title="List View">☰</button>
              </div> -->
            </div>
          </div>
          <div class="product_slider bg-white mx-auto py-3 align-items-center">
            <!-- <h2 *ngIf="products.length > 0" class="categoryName">
              {{ products[0].productGroupName }}
            </h2>
            <hr class="line" /> -->
            <div *ngIf="products?.length == 0" class="no-products">
              No products available.
            </div>
            <div *ngIf="products?.length > 0" class="grid-container">
              <ng-container *ngFor="let value of products; let i = index">
                <div
                  class="grid-item"
                  *ngIf="!companyName || companyName === value.companyName"
                >
                  <div class="rounded product-responsive h-75">
                    <div
                      class="card"
                      (click)="navigateToData(value)"
                      [ngClass]="{
                        'card-out-of-stock': value.availableQty === 0
                      }"
                    >
                      <div class="card-look">
                        <img
                          [src]="
                            value.imagePath
                              ? '/assets' + value.imagePath.split('assets')[1]
                              : '/assets/default-image.jpg'
                          "
                          class="card-img-top"
                          (error)="onImageError($event)"
                          alt="{{ value.goodsName }}"
                        />
                      </div>
                      <div class="card-body">
                        <p *ngIf="value.availableQty !== 0" class="quantity">
                          <span>Quantity :</span>
                          <span
                            [class.text-muted]="value.availableQty >= 1"
                            [class.text-danger]="value.availableQty < 1"
                          >
                            {{ value.availableQty }}
                          </span>
                        </p>
                        <p class="card-text company-name">
                          {{ value.companyName }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="footer-responsive">
    <app-footer></app-footer>
  </div>
</section>
