.products { 
  margin: 20px;
}

.flex-nowrap {
  flex-wrap: wrap;
}

.col {
  flex: 0 0 16.666%; /* 100% / 6 cards = 16.666% */
}



.top-seller-heading {
  position: relative;
  z-index: 1;
}
.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);
  width: 80vw;
  margin-bottom: 20px;
  border: none;
  height: 1px;

  margin: 1rem 0;
}











.card {


  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

   max-width: 30rem;

 border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;

}

.card-look{
  height: 13rem; 
  position: relative

}






.card:hover {
  transform: translateY(-5px);
}

.card-out-of-stock {
  opacity: 0.7;
}

.card-img-top {
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  object-fit: cover;
  height: 13rem; 
  width: 100%; 
border-bottom: 1px solid var(--color-primary);

 
}

.card-body {
  padding: 1rem;
  background-color: rgb(232 241 241);

}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #333;
text-align: center;
  

}

.quantity{
 font-size: 1.15rem;
 margin-top: -0.5rem;

 color: #333;
 text-align: center;
}




#page-container {
  padding-bottom: 2rem; /* Add some space at the bottom */
}




.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}


.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.company-name {
  font-size: 1rem;
  color: #569c9c;
   margin-bottom:-.25rem;
  margin-top: -0.75rem;
  text-align: center;
}

.product-sidebar-container {
  flex: 0 0 250px; /* Fixed width sidebar */
  margin-right: 2rem; /* Add some space between sidebar and content */
}

.main-content-container {
  flex: 1; /* Take remaining space */
}



