<div class="container">
    <div
      class="bg-white d-flex justify-content-center p-2 border border-1 rounded"
    >
     
     <h1 class="companyApproval_header_text" >Seller Permission</h1>

    </div>
  
    <div class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2">
        <div class="headerbtns ">
        
           
                <!-- <p *ngFor="let sl of dropdownValues; let i = index;"> paragraph{{sl}}</p> -->
        
                <!-- <label for="allcategory " class="font-weight-bold">Select Company Name:</label> -->
                <select 
                class="p-2 border border-1 rounded " 
                id="allcategory" 
                name="Category" 
                style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);" 
                [(ngModel)]="selectedUserId" 
                (change)="onUserChange(selectedUserId)">
                
                <!-- <option (click)="getUser()">All</option> -->
                <!-- <option value="">select Name</option> -->
                <option *ngFor="let dv of this.sellerList; let i = index;" #selectedUserId [value]="dv.userId">{{dv.fullName}}</option>
              
                <!-- Add more options as needed -->
              </select>
              
            
     
              <select 
  class="p-2 border border-1 rounded"  
  id="allcategory" 
  name="Category"  
  style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); margin-left: 5%;" 
  [(ngModel)]="selectedMenu">
  <option *ngFor="let dv of dropdownValues; let i = index;" #selectedMenu [value]="dv.menuId">{{dv.menuName}}</option>
</select>

<button (click)="PermissionBtn(selectedUserId, selectedMenu)" class="btn btn-primary mx-4 py-2">Add Permission</button>

        
        
       
      </div>


      
      
    </div>



    

















    <div class="scrollable-table border border-1 bg-light">
      <!-- TABLE header -->
      <div class="row headerRow sticky-top fw-bolder">
        <!-- <div class="col tableHeader">#</div> -->
        <div class="col tableHeader">Name</div>
        <div class="col tableHeader">Action</div>
        
     

       
      </div>
     
     
      <!-- Replace 'your-component' with the correct selector -->
<!-- Replace 'your-component' with the correct selector -->
<section class="row tablebodyRow fw-semibold" *ngIf="tableData && tableData.length > 0">
  <div class="d-flex" *ngFor="let item of tableData; let i = index">
    <div class="col tableBody">
      <div>
        <input type="checkbox" id="{{ 'checkbox_' + i }}" [(ngModel)]="item.selected">
        <label for="{{ 'checkbox_' + i }}">
          {{ item.fullName }} - {{ item.menuName }}
        </label>
      </div>
    </div>
  </div>
</section>


<div class="row tableboydRow fw-semibold" *ngFor="let user of tableData | keyvalue">
  <div class="col-md-12">
    <div class="d-flex">


    </div>
    <!-- Display fullName outside the *ngFor loop -->
    
    <label> {{ user.value[0].fullName }}</label>
    <div class="d-flex flex-wrap">
      <div *ngFor="let menuItem of user.value" class="col-md-3">
        <div class="tableBody d-flex align-items-center">
          <input type="checkbox" id="{{ menuItem.menuId }}" [(ngModel)]="menuItem.isSelected" (change)="checkboxChanged(user.key, menuItem.menuId)" />
          <label for="{{ menuItem.menuId }}">{{ menuItem.menuName }}</label>
        </div>
        <!-- Add other properties as needed -->
      </div>
    </div>
  </div>
</div>





      
      
      
      
      
      
      
      
   
    </div>
  <div class="d-flex justify-content-end my-4">
    <button class="btn btn-danger" (click)="UpdatePermission()">Delete</button>
    <!-- <button class="btn btn-danger mx-4">Delete</button> -->
  </div>
    </div>
  
 
  