<div class="container">
    <div
      class="bg-white d-flex justify-content-center p-2 border border-1 rounded"
    >
     
     <h1 class="companyApproval_header_text" >Seller Permission</h1>

    </div>
  
    <div class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2">
        <div class="headerbtns">
        
           
                <!-- <p *ngFor="let sl of dropdownValues; let i = index;"> paragraph{{sl}}</p> -->
        
                <!-- <label for="allcategory " class="font-weight-bold">Select Company Name:</label> -->
                <select 
                  class="p-2 border border-1 rounded " 
                  id="allcategory" 
                  name="Category"  
                  style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);"
                >
          <option  >All </option>
          <option  >Option 1</option>
             
                </select>
            
     
                <select 
                class="p-2 border border-1 rounded " 
                id="allcategory" 
                name="Category"  
                style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);"
              >
        <option  >All </option>
        <option  >Option 1</option>
           
              </select>


        
        
       
      </div>


      
      
    </div>



    

















    <div class="scrollable-table border border-1 bg-light">
      <!-- TABLE header -->
      <div class="row headerRow sticky-top fw-bolder">
        <div class="col tableHeader">#</div>
        <div class="col tableHeader">Full Name</div>
        <div class="col tableHeader">Phone</div>
        <div class="col tableHeader">Email</div>
        <div class="col tableHeader">Address</div>
        <div class="col tableHeader">Added Date</div>
     

        <div class="col tableHeader">Action </div>

       
      </div>
  
    
      <div class="d-flex"  >
       
    </div>
    </div>
  
 
  