/* .company_images {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: auto;
  } */

#showImgModal .modal-content {
  width: 95vw;
  height: 75vh;
  overflow: scroll;
}
.container {
  max-width: 100%;
}
.company_images {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
/* table design */

.headerRow,
.tablebodyRow {
  flex-wrap: nowrap;
  max-width: 100vw;
  max-width: 100vw;
}
.headerbtns {
  display: flex; /* Add this line to activate flexbox layout */
  width: 100%;
  align-items: center; /* Adjust this to center elements vertically; use 'flex-end' if you want them at the bottom */
  justify-content: flex-end; /* Align items to the right side */
}

.dropdown-container {
  margin: 0 1vw 0 0;
  padding: 0.6rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #7b9eab;
}
.dropdown-button{
  background-color: #7b9eab;
  color:white;
  padding: .5rem .7rem;
  border-radius: 5px;
}
.scrollable-table {
  height: 35rem; /* Adjust the height as needed */
  overflow-y: scroll;
  overflow-x: auto;
  font-size: 1rem;
}
.headerRow {
  text-align: center;
 
}
.menu-label {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the max-width as needed */
  display: inline-block;
}
.lebel-item-value{
  width: 10rem;
}
.tablebodyRow {
  text-align: center;
  
}
.lebel-item{
  display: flex;

  padding: 1rem 1rem;
  
}
.tableHeader,
.tableBody {
  /* min-width: 10rem; */
}

.tableBody {
  padding: 0 1rem;
}

.tableHeader {
  /* width:80vw; */
  background-color: #e5f1f7;
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-gray);
}

/* modal heading */
.modal-heading {
  background-color: var(--color-primary);
}

.btn-active.active {
  background-color: #78ac8b !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}
.btn-inactive.active {
  background-color: #a4a554 !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}

.btn-trade-company {
  width: 4rem !important;
}

.actionBtn {
  cursor: pointer;
  background: none;
  border: none;
}
.active-row {
  background-color: rgb(233, 238, 243);
}
@media (max-width: 568px) {
  .banner_container {
    height: 15rem;
  }

  .carousel-item img {
    width: 100%;
    height: 15rem;
  }
}