.foot {
  background-color: #222831;
  color: white;
  /* color: black; */
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}
p {
  margin: 0;
  font-size: 12px;
}
.qrCode {
  height: 6rem;
}
.playStoreIcond {
  height: 2rem;
}
.payment-img {
  width: 15rem;
}
.icons {
  font-size: 1rem;
}
h5 {
  font-size: 25px;
}
@media (max-width: 1300px) {
  h5 {
    font-size: 1.8rem;
  }
  p{
    font-size: 1rem;
  }
}
