<div class="profile_header_container d-flex align-items-center">
  <div class="logo_container">
    <a class="companyName" (click)="redirect()">
      <!-- [href]="!isSeller || !isAdmin ? '/' : '/userProfile'" -->
      <span>
        <!-- NDE Digital Market -->
        <img
          *ngIf="projectTitle === 'NDE_DIGITAL_MARKET'"
          src="assets/images/Logo/final-logo-6.png"
          alt="logo"
        />
        <p *ngIf="projectTitle === 'HEALTHCARE'">Nimpex HealthCare</p>
      </span>
      <!-- <img src="assets/images/Logo/final-logo-6.png" alt="logo"/> -->
    </a>
  </div>

  <div class="delimeter ms-5 fs-4">|</div>
  <div class="header_title ms-5 fs-5">{{ headerTitle }}</div>
</div>
