<div class="table-body-data">
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    <input
      type="checkbox"
      [(ngModel)]="product.isSelected"
      (change)="checkboxSelected(product.productId, $event)"
    />
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    #{{ i + 1 }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.productGroupName }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.productName }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.productSubName }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.brandName }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.unit }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.specification }}
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    <img
      class="product_image"
      [src]="
        product.imagePath ? '/asset' + product.imagePath.split('asset')[1] : ''
      "
      alt="no image was uploaded!"
    />
  </div>
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    {{ product.addedDate | date : "dd MMM yyyy" }}
  </div>

  <div
    class="col tableBody"
    *ngIf="btnIndex != -1"
    [ngClass]="{
      'active-row': product.productId === activeProductId || isHovered === i
    }"
  >
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <button
          class="actionBtn"
          *ngIf="btnIndex === 0"
          (click)="updateIsActive(1, product.productId)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="green"
            class="bi bi-check2 me-3"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
            />
          </svg>
        </button>
      </div>
      <div>
        <button
          class="actionBtn"
          *ngIf="btnIndex === 1"
          (click)="updateIsActive(0, product.productId)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="red"
            class="bi bi-x-lg fw-bolder"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
