<div
  class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2 d-flex justify-content-between"
>
  <div *ngIf="btnIndex != 2" class="headerbtns">
    <button
      class="custom-btn new-btn"
      (click)="getProductGroup(-1); btnIndex = -1"
      [ngClass]="{ active: btnIndex === -1 }"
    >
      {{ NewButton }}
    </button>
    <button
      class="custom-btn btn-active"
      (click)="getProductGroup(1)"
      [ngClass]="{ active: btnIndex === 1 }"
      (click)="btnIndex = 1"
    >
      {{ ActiveButton }}
    </button>
    <button
      class="custom-btn btn-inactive"
      (click)="getProductGroup(0)"
      [ngClass]="{ active: btnIndex === 0 }"
      (click)="btnIndex = 0"
    >
      {{ InactiveButton }}
    </button>
  </div>
  <div *ngIf="btnIndex == 2" class="headerbtns"></div>
  <div *ngIf="AddButtonName">
    <button
      class="custom-btn addGroup-btn"
      data-bs-toggle="modal"
      [attr.data-bs-target]="addGroupModalCenter"
      #addGroupModalCenterG
    >
      {{ AddButtonName }}
    </button>
  </div>

  <div *ngIf="featureName" class="d-flex align-items-center">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Company"
      aria-label="Search"
      [(ngModel)]="SearchTerm"
      (keyup)="filterProducts(SearchTerm)"
    />
  </div>
</div>
