<div
  class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2 d-flex justify-content-between"
>
  <div *ngIf="btnIndex != 2" class="headerbtns">
    <button
      class="custom-btn new-btn"
      (click)="getProductGroup(-1); btnIndex = -1; btnFilter = 0"
      [ngClass]="{ active: btnIndex === -1 }"
    >
      {{ NewButton }}
    </button>
    <button
      class="custom-btn btn-active"
      (click)="getProductGroup(1)"
      [ngClass]="{ active: btnIndex === 1 }"
      (click)="btnIndex = 1; btnFilter = 0"
    >
      {{ ActiveButton }}
    </button>
    <button
      class="custom-btn btn-inactive"
      (click)="getProductGroup(0)"
      [ngClass]="{ active: btnIndex === 0 }"
      (click)="btnIndex = 0; btnFilter = 0"
    >
      {{ InactiveButton }}
    </button>
  </div>
  <div *ngIf="btnIndex == 2" class="headerbtns"></div>

  <div *ngIf="AddButtonName">
    <button
      *ngIf="addBtnIndex != 5 && addBtnIndex != 1 && addBtnIndex != 9"
      class="custom-btn addGroup-btn"
      data-bs-toggle="modal"
      [attr.data-bs-target]="addGroupModalCenter"
      #addGroupModalCenterG
    >
      {{ AddButtonName }}
    </button>
    <button
      *ngIf="addBtnIndex == 5"
      class="custom-btn addGroup-btn"
      (click)="openAddGroupModal()"
    >
      {{ AddButtonName }}
    </button>
    <button
      *ngIf="addBtnIndex == 9"
      class="custom-btn addGroup-btn"
      (click)="openAddBrandModal()"
    >
      {{ AddButtonName }}
    </button>
    <button
      *ngIf="addBtnIndex == 1"
      class="custom-btn addGroup-btn"
      (click)="openAddProductModal()"
    >
      {{ AddButtonName }}
    </button>
  </div>
  <div class="filter-button" *ngIf="FilterButton1">
    <div *ngIf="FilterButton1">
      <button
        class="custom-btn btn-active"
        (click)="getProductGroupFilter(0)"
        [ngClass]="{ active: btnFilter === 0 }"
        (click)="btnFilter = 0"
      >
        {{ FilterButton1 }}
      </button>
    </div>
    <div *ngIf="FilterButton2">
      <button
        class="custom-btn btn-inactive"
        (click)="getProductGroupFilter(1)"
        [ngClass]="{ active: btnFilter === 1 }"
        (click)="btnFilter = 1"
      >
        {{ FilterButton2 }}
      </button>
    </div>
  </div>
  <div *ngIf="featureName" class="d-flex align-items-center">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Company"
      aria-label="Search"
      [(ngModel)]="SearchTerm"
      (keyup)="filterProducts(SearchTerm)"
    />
  </div>
</div>
