<section id="page-container" class="container-responsive">
  <div id="content-wrap">
    <app-header></app-header>
    <div class="nav-belt">
      <app-nav-belt></app-nav-belt>
    </div>
    <section class="mb-4"><app-banner></app-banner></section>
    <!-- <app-home-core-content></app-home-core-content> -->
    <div class="product-slider-wrapper">
      <div class="advertisement-left-responsive">
        <div *ngFor="let banner of leftAdvertisements">
          <div class="cards bg-dark text-white">
            <div class="left_Ads_header">
              <div class="cards-text">Advertisement</div>
              <div
                class="close_icon"
                *ngIf="!banner.hideClose"
                (click)="hideBannerAndShowReason(banner)"
              >
                <i class="fas fa-times"></i>
              </div>
            </div>

            <img
              [src]="
                banner.bannerImage.substring(
                  banner.bannerImage.indexOf('assets')
                ) || 'assets/images/banner/banner1.jpg'
              "
              class="cards-img"
              [class.hidden]="banner.hidden"
              alt="Advertisement Image"
            />
            <div class="cards-img-overlay">
              <p class="reverse_para" *ngIf="banner.showWhyThisAd">
                Why This Ad?
                <span
                  class="reverse-icon-wrapper"
                  (click)="toggleBannerVisibility(banner)"
                >
                  <i class="fas fa-undo reverse-icon"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="product-slider">
        <app-product-slider></app-product-slider>
        <app-clients-list-slider [clients]="clients"></app-clients-list-slider>
      </div>
      <div class="advertisement-right-responsive">
        <div *ngFor="let banner of rightAdvertisements">
          <div class="cards bg-dark text-white">
            <div class="left_Ads_header">
              <div class="cards-text">Advertisement</div>
              <div
                class="close_icon"
                *ngIf="!banner.hideClose"
                (click)="hideBannerAndShowReason(banner)"
              >
                <i class="fas fa-times"></i>
              </div>
            </div>
            <img
              [src]="
                banner.bannerImage.substring(
                  banner.bannerImage.indexOf('assets')
                ) || 'assets/images/banner/banner1.jpg'
              "
              class="cards-img"
              alt="Advertisement Image"
              [class.hidden]="banner.hidden"
            />
            <div class="cards-img-overlay">
              <p class="reverse_para" *ngIf="banner.showWhyThisAd">
                Why This Ad?
                <span
                  class="reverse-icon-wrapper"
                  (click)="toggleBannerVisibility(banner)"
                >
                  <i class="fas fa-undo reverse-icon"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</section>
