<section
  class="clientList_container mx-auto px-3 py-2 rounded border border-1"
  *ngIf="getTopSellerData?.length"
>
  <!-- Heading for the top sellers section -->
  <div class="product_slider rounded bg-white rounded border border-1">
    <h2 class="m-0 text-start px-3 py-4 text-nowrap">Recommended Product</h2>
    <h2 class="text m-0 text-start px-3 py-4 text-nowrap">View All</h2>
  </div>

  <!-- Slider for the sellers -->
  <div class="container-fluid" style="--bs-gutter-x: 0">
    <div class="slider_wrap d-flex align-items-center rounded bg-white">
      <div
        class="slider_main border-1"
        #Items
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
      >
        <div class="item" *ngFor="let client of getTopSellerData">
          <div class="image-container" (click)="productCardClick(client)">
            <img
              class=""
              [src]="
                client.imagePath.substring(client.imagePath.indexOf('assets'))
              "
              alt="{{ client.productName }}"
            />
          </div>
          <div class="details-cintainer">
            <div class="name-container">
              <p><strong>Brand: </strong>{{ client.companyName }}</p>
            </div>
            <div class="name-container">
              <p><strong>Product: </strong>{{ client.productName }}</p>
            </div>
            <div class="name-container">
              <p><strong>Price: </strong>৳{{ client.totalPrice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
