<section id="page-container">
  <div id="content-wrap">
    <app-header (dataUpdated)="handleDataUpdated()"></app-header>
    <!-- <app-nav-belt (dataUpdated)="handleDataUpdated()"></app-nav-belt> -->
    <div class="content d-flex mx-5 px-5">
     

      <div class="products ms-5 ps-5">
        <h2 class="top-seller-heading">Recommended Product</h2>
        <div class="line"></div>
        <div class="d-flex col flex-nowrap overflow-auto">
          <div class="item" *ngFor="let client of getTopSellerData">
            <div class="card" (click)="productCardClick(client)">
              <div class="card-image">
                <img
                  [src]="
                    client.imagePath.substring(
                      client.imagePath.indexOf('assets')
                    )
                  "
                  class="card-img-top"
                  alt="{{ client.productName }}"
                />
              </div>
              <div class="card-body">
                <span> <strong>Brand: </strong>{{ client.companyName }} </span>
                <br />
                <span>
                  <strong>Product: </strong>{{ client.productName }}
                </span>
                <br />
                <span> <strong>Price: </strong>৳{{ client.totalPrice }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="footer-responsive">
    <app-footer></app-footer>
  </div>
</section>
