/* .products {
  margin: 20px;
} */

body {
  background-color: #ffffff;
}
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#content-wrap {
  flex: 1;
  background-color: #eeeeee;
}

.products {
  padding-top: 3.5rem;
  max-width: 1250px;
  min-width: 1250px;
  max-height: 100%;
  margin: 0 auto;
}

.flex-nowrap {
  flex-wrap: wrap;
}
.nav-belt-container {
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}

.card-look {
  height: 11.5rem;
  position: relative;
}
#footer {
  padding-top: 2vh;
  background-color: #222831;
  padding-top: 1rem;
  width: 100%;
}
.foot {
  background-color: #eeeeee;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  max-width: 30rem;
  border: 1px solid #1b1e1f;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}
.card:hover {
  transform: translateY(-5px);
}
.product_slider {
  /* box-shadow: 0 0 0.35rem var(--color-gray); */
  /* box-shadow: 0 0 0.35rem #ffffff; */

  justify-content: space-between;
  margin-left: 5rem;
}

.product_sidebar_container {
  background-color: #ffffff;
  padding-left: 6rem;
  padding-top: 3rem;
  padding-right: 2rem;
  margin-left: -1.5rem;
  margin-right: -1rem;

  /* border: 1px solid aqua; */
}

.top-seller-heading {
  margin-left: 1rem;
}
.line {
  height: 0.1vh;
  z-index: 1;
  background-color: rgb(145, 145, 145);

  max-width: 100%;
  border: none;
  height: 0.1rem;
  margin-left: 01rem;
}

.card-img-top {
  height: 11.5rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--color-primary);
}

.card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;

}
.grid-container {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem; /* Adjust the gap between cards */
  /* border: 1px solid black */
}
.grid-item {
  /* border: 1px solid red; */
  /* height: 22rem; */
  margin-bottom: -2rem;
}

@media (max-width: 746px) {
  .product_sidebar_container {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 748px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }

  .product_sidebar_container {
    background-color: #ffffff;
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-left: -1.5rem;
    margin-right: -1rem;
    min-height: 60.5rem;

    /* border: 1px solid aqua; */
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }
  .product_sidebar_container {
    background-color: #ffffff;
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-left: -1.5rem;
    margin-right: -1rem;
    min-height: 60.5rem;

    /* border: 1px solid aqua; */
  }
}
@media (min-width: 1200px) and (max-width: 2000px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }
  .product_sidebar_container {
    background-color: #ffffff;
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-left: -1.5rem;
    margin-right: -1rem;
    min-height: 60.5rem;

    /* border: 1px solid aqua; */
  }
}

@media (min-width: 2000px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    /* Adjust the gap between cards */
    /* border: 1px solid black */
    gap: 1rem;
  }
  .product_sidebar_container {
    background-color: #ffffff;
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-left: -1.5rem;
    margin-right: -1rem;
    min-height: 60.5rem;

    /* border: 1px solid aqua; */
  }
}

/* @media (max-width: 600px) {
  .item {
    width: 20vw;
    height: 15vh;
    margin: 0.5em;
  }
  .slider_wrap {
    height: 18vh;
  }

  .image-container {
    width: 10vw;
    min-height: 9vh;
    max-height: 9vh;
  }

  .image-container img {
    max-width: 17.5vw;
    min-width: 17.5vw;
    min-height: 8vh;
    max-height: 8vh;
  }
  .name-container {
    height: 1vh;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .item {
    width: 16vw;
    height: 15vh;
    margin: 0.5em;
  }
  .slider_wrap {
    height: 18vh;
  }

  .image-container {
    width: 8vw;
    min-height: 9vh;
    max-height: 9vh;
  }

  .image-container img {
    max-width: 14vw;
    min-width: 14vw;
    min-height: 8vh;
    max-height: 8vh;
  }
  .name-container {
    height: 1vh;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .item {
    width: 12vw;
    height: 17vh;
    margin: 0.5em;
  }
  .slider_wrap {
    height: 20vh;
  }

  .image-container {
    width: 6vw;
    min-height: 9.5vh;
    max-height: 9.5vh;
  }

  .image-container img {
    max-width: 10vw;
    min-width: 10vw;
    min-height: 8vh;
    max-height: 8vh;
  }
  .name-container {
    height: 2vh;
  }
} */
