<div class="container-responsive">
  <app-dashboard-menu-header
    title="Company Approval"
  ></app-dashboard-menu-header>

  <app-status-button
    [btnIndex]="btnIndex"
    (getProductsEvent)="getData($event)"
    [NewButton]="'New'"
    [ActiveButton]="'Active'"
    [InactiveButton]="'Inactive'"
  ></app-status-button>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      @for (header of headers; track header) {
        <div class="col tableHeader">{{ header }}</div>
      }
    </div>
    <div>
      @if (companies?.length == 0) {
        <h1
          class="text-center"
          style="color: red; margin-top: 15%"
          >
          Company Not Found
        </h1>
      }
    </div>
    <!-- table body -->

    @for (cmp of companies; track cmp; let i = $index) {
      <section
        class="row tablebodyRow fw-semibold"
        (mouseover)="isHovered = i"
        (mouseout)="isHovered = null"
        >
        <app-company-approval-grid-view
          [cmp]="cmp"
          [isHovered]="isHovered"
          [i]="i"
          (showImageEvent)="showImage($event)"
          (updateCompanyEvent)="updateCompany($event)"
          [btnIndex]="btnIndex"
          (selectedCompanyCodeValuesChange)="onSelectedCompanyCodeChange($event)"
        ></app-company-approval-grid-view>
        <!-- Modal for tadeLicence -->
        <div
          class="modal fade"
          id="showImgModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="showImgModalLabel"
          aria-hidden="true"
          >
          <app-company-trade-licence-modal
            [imageTitle]="imageTitle"
            [imagePath]="imagePath"
          ></app-company-trade-licence-modal>
        </div>
      </section>
    }
  </div>
</div>

<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#msgModal"
  #msgModalBTN
  >
  Launch demo modal
</button>

<!-- Modal -->
<app-dynamic-alert-modal
  [alertMsg]="alertMsg"
  [alertTitle]="alertTitle"
  [id]="'msgModal'"
></app-dynamic-alert-modal>
