<div class="container-responsive">
  <app-dashboard-menu-header
    title="Company Approval"
  ></app-dashboard-menu-header>

  <app-status-button
    [btnIndex]="btnIndex"
    (getProductsEvent)="getData($event)"
    [NewButton]="'New'"
    [ActiveButton]="'Active'"
    [InactiveButton]="'Inactive'"
  ></app-status-button>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <div class="col tableHeader">Index</div>
      <div class="col tableHeader">Company Code</div>
      <div class="col tableHeader">Company Name</div>
      <div class="col tableHeader">Email</div>
      <div class="col tableHeader">Business Registration Number</div>
      <div class="col tableHeader">Tax Id. Number</div>
      <div class="col tableHeader">Foundation Date</div>
      <div class="col tableHeader">Trade Licence File</div>
      <div class="col tableHeader">Company Image</div>
      <div class="col tableHeader">Prefered Method</div>
      <div class="col tableHeader">Max User</div>
      <div class="col tableHeader">Action</div>
    </div>
    <div>
      <h1
        *ngIf="companies?.length == 0"
        class="text-center"
        style="color: red; margin-top: 15%"
      >
        Company Not Found
      </h1>
    </div>
    <!-- table body -->

    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let cmp of companies; let i = index"
      (mouseover)="isHovered = i"
      (mouseout)="isHovered = null"
    >
      <app-company-approval-grid-view
        [cmp]="cmp"
        [isHovered]="isHovered"
        [i]="i"
        (showImageEvent)="showImage($event)"
        (updateCompanyEvent)="updateCompany($event)"
        [btnIndex]="btnIndex"
        (selectedCompanyCodeValuesChange)="onSelectedCompanyCodeChange($event)"
      ></app-company-approval-grid-view>

      <!-- Modal for tadeLicence -->
      <div
        class="modal fade"
        id="showImgModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="showImgModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-xl d-flex align-items-center justify-content-center"
        >
          <div class="modal-content">
            <div class="modal-header modal-heading">
              <h1 class="modal-title text-light fs-5" id="showImgModalLabel">
                {{ imageTitle }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              <img
                class="company_images"
                [src]="imagePath"
                alt="no image was uploaded!"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#msgModal"
  #msgModalBTN
>
  Launch demo modal
</button>

<!-- Modal -->
<app-dynamic-alert-modal
  [alertMsg]="alertMsg"
  [alertTitle]="alertTitle"
  [id]="'msgModal'"
></app-dynamic-alert-modal>
