<section class="clientList_container mx-auto px-3 py-1 border border-1">
  <!-- Heading for the top sellers section -->
  <div
    class="product_slider align-items-center bg-white border-bottom border-1"
  >
    <h2 class="m-0 text-start px-3 py-2 text-nowrap">Our Top Seller</h2>
    <h2
      class="text m-0 text-start px-2 py-2 text-nowrap"
      (click)="setSelectData()"
    >
      View All
    </h2>
  </div>

  <!-- Slider for the sellers -->
  <div class="container-fluid" style="--bs-gutter-x: 0">
    <div class="slider_wrap d-flex align-items-center rounded bg-white">
      <div
        class="slider_main border-1"
        #Items
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
      >
        <!-- Adjust width with rem units for a consistent layout -->
        <div
          class="item"
          style="width: 12rem"
          *ngFor="let client of getTopSellerData"
        >
          <div class="card h-100" (click)="productCardClick(client)">
            <div class="image-container">
              <!-- Consistent height -->
              <img
                class="img-fluid"
                [src]="
                  client.companyImage.substring(
                    client.companyImage.indexOf('assets')
                  )
                "
                alt="{{ client.companyName }}"
                style="height: 100%; width: 100%; object-fit: cover"
              />
            </div>
            <div class="card-body">
              <p class="card-title">{{ client.companyName }}</p>
              <!-- Consistent title styling -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
