.clientList_container {
  /* margin: 1% 6%; */
  background: white;
  /* box-shadow: 0 0 0.35rem var(--color-gray); */
  /* box-shadow: 0 0 0.35rem #ffffff; */
  /* border: 1px solid #d9d9d9; */
  width: 98%;
}
.slider_wrap {
  position: relative;
  overflow: hidden;
  height: 18rem;
}

.slider_main {
  position: absolute;
  width: 202%;
  height: 16rem;

  /* padding: 5rem; */
}

.item {
  margin-bottom: 1rem;
  height: 16rem;
  width: 14rem;
  display: inline-flex;
  position: relative;
  /* height: 10rem; */
  /* margin: 6.5px; */
  padding: 5px;
  /* border: 1px solid #2c506d; */
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background: #ffffff;
}

.top_seller {
  font-size: 1.8rem;
  font-weight: bold;
}
.product_slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.text {
  color: rgb(0, 119, 255);
  cursor: pointer;
  background-color: #ffffff;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
}
.text-head {
  margin-left: -1.5rem;
  border-bottom: 1px solid rgb(202, 198, 198);
  /* padding-top: 1rem; */
}


.card {
  background-color: #fefefe;
  transition: all 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
.card-body {
  text-align: center;
  padding: 1rem;
}

.card-title {
  margin-top: 2.5rem;
}

.card-image {
  height: 11rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  transition: all 0.3s;
}
