.container {
  /* max-width: 300rem; */
  overflow-x: auto;
  max-width: 100%;
}

.order_search_div {
  /* margin-top: 1rem; */
  /* background-color: #fff; */
  padding: 0.1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30%; */
}
.check_All {
  margin-right: 0.2rem;
}
.search_by_all {
  display: flex;
  width: 50%;
}
.search-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 18.5rem; /* Adjust the maximum width as needed */
  margin-right: 0.7rem;
  height: 2rem;
}

.search-input {
  width: 100%;
  padding: 0.36rem;
  border-radius: 0.3rem;
  /* background-color: #f1eeee; */
  background-color: rgb(229, 241, 247) !important;
}
.search_Name_list a:hover {
  background-color: rgb(229, 241, 247);
  cursor: pointer;
}

.search_by_date {
  display: flex;
  /* width: 40%; */
  align-items: center;
  /* background-color: #f0faff; */
  /* justify-content: end; */
}
.search_by_date input {
  margin: 0 1rem;
  padding: 0.18rem;
  width: 25%;
  /* border-radius: 0.5rem; */
  border: none !important;
  border-bottom: 0.1rem solid #97c3d1 !important;
  outline: none !important;
  /* background-color: #ebf1f3 !important; */
}

.search_by_date input:focus {
  border: none;
  box-shadow: none !important;
}

.search_by_date input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  filter: invert(1);
}
.label {
  padding-left: 1rem;
  padding-top: 0.2rem;
  color: #608897;
  font-size: 1.1rem;
}
.label2 {
  padding-top: 0.2rem;
  color: #608897;
  font-size: 1.1rem;
}
/* Add a custom icon using a background image */
.search_by_date input[type="date"] {
  background: #fff url("../../../../../assets/images/calendar.png") no-repeat
    center right 0.3rem;
  background-size: 1rem 1rem; /* Set the size of the custom icon */
  color: #608897;
}
.la .select_date_type {
  width: 25%;
  height: 2rem;
  border: 0.1rem solid #97c3d1;
  padding: 0 0.4rem !important;
}
.select_date_type:focus {
  box-shadow: none !important;
}
.select_date_type option:hover {
  background-color: rgb(229, 241, 247) !important;
}
.select_date_type option {
  cursor: pointer !important;
}


.date_order_search {
  color: white;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

/* **********Data Table ***********/
.Admin_order_container {
  height: 57vh;
  overflow: scroll;
}
.Admin_order_container_row {
  width: max-content;
  border-bottom: 1px solid #ececec;
  font-size: 1rem;
  /* height: 4.4rem; */
  cursor: pointer;
}
.relativeDiv {
  position: relative;
  width: max-content;
  height: 15rem;

  overflow: scroll;
}
.Admin_order_container_row a {
  color: var(--color-primary);
  text-decoration: none;
}

.approval_container_HederRow {
  background-color: rgb(229, 241, 247) !important;
  color: #302f2f;

  font-size: 1.1rem;
}

.order_details_HederRow {
  background-color: rgb(243, 231, 217) !important;
  color: #302f2f;
  font-weight: 500;
  font-size: 1.1rem;
}
.details_row {
  background-color: rgb(255, 250, 245) !important;
}

.rotate-icon {
  transition: transform 0.3s ease; /* Adjust the transition duration as needed */
}

.rotate {
  transform: rotate(180deg); /* Rotate by 180 degrees (or the desired amount) */
}
.Admin_order_container_row .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_col {
  width: 10.23rem !important;
  padding: 0.6rem 0;
}

.checkbox_col {
  width: 5rem !important;
  padding: 0.6rem 0;
}
.order_col_big {
  width: 16rem !important;
  padding: 0.6rem 0;
}

.Container_button {
  padding: 0.2rem 1.1rem;
  border-radius: 1rem;
}

.approval_icon img {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  background-color: white;
}
.order_Pending_status {
  background-color: hsl(39, 85%, 92%);
  color: hsl(34, 95%, 47%);
}
.order_cancelled_status {
  background-color: rgb(248, 233, 233);
  color: rgb(192, 4, 4);
}
.order_returned_status {
  background-color: rgb(248, 233, 233);
  color: rgb(192, 4, 4);
}

.order_shipped_status {
  background-color: rgb(210, 241, 210);
  color: green;
}



.btn-Approved {
  background-color: #4592a0;
  color: white;
}
.btn-cancel {
  background-color: #302f2f;
  color: #fff;
}

@media (min-width: 1900px) {
  .order_col {
    width: 10.5rem !important;
  }
  .checkbox_col {
    width: 5rem !important;
  }
  .order_col_big {
    width: 17rem !important;
  }
  .details_col {
    width: 14rem !important;
  }
}

@media (min-width: 2500px) {
  .order_col {
    width: 18.405rem !important;
  }
  .checkbox_col {
    width: 9rem !important;
  }
  .order_col_big {
    width: 22rem !important;
  }
  .details_col {
    width: 22.3rem !important;
  }
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
}


.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
}
.button:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
}


.headerbtns .custom-btn {
  background: #f0faff;
  color: rgb(3, 20, 43);
  font-weight: 500;
  border: 1px solid var(--color-primary-dark);
}

.headerbtns .btn-active {
  border: 1px solid #78ac8b;
}
.headerbtns .btn-inactive {
  border: 1px solid #a4a554;
}

.headerbtns .new-btn.active {
  background-color: var(--color-primary-dark) !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}
.btn-active.active {
  background-color: #78ac8b !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}
.btn-inactive.active {
  background-color: #a4a554 !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ebf8ff !important;
}

.btn-trade-company {
  width: 4rem !important;
}

.actionBtn {
  cursor: pointer;
  background-color: white;
  border: none;
  /* margin-left: -30rem; */
}


.active-row {
  background-color: rgb(233, 238, 243);
}
