<div class="side">
  <div class="filter-data">
    <div class="filter-header">
      <p class="parent">Filter</p>

      @if (clear) {
        <p
          class="filter-clear"
          (click)="removeFilterContent('all')"
          >
          clear
        </p>
      }
    </div>
    <div class="filterContent">
      @for (item of filterContent; track item) {
        <div
          class="filter-content-item"
          (click)="removeFilterContent(item)"
          >
          <p id="content-item">{{ item }}</p>
          <p>X</p>
        </div>
      }
    </div>
  </div>
  @if (showCategory1) {
    <div class="filter-data">
      <div class="side-bar-title" (click)="toggleGroupVisibility()">
        <p class="parent">Categories</p>
        <img
          src="assets/images/down-arrow.svg"
          [style.transform]="showGroupValue ? 'rotate(0deg)' : 'rotate(180deg)'"
          [style.transition]="'transform 0.3s'"
          />
        </div>
        @if (showGroupValue) {
          <div>
            @for (entry of groupData | keyvalue; track entry; let i = $index) {
              <div>
                @if (showAll || i < initialLimit) {
                  <div class="radio-container">
                    <div class="label-input">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="category"
                        id="category-checkbox1-{{ i }}"
                        style="cursor: pointer"
                        (click)="setSelectData(entry.key, entry.value)"
                        [ngClass]="{ selected: entry.key === activeEntry1 }"
                        [checked]="entry.key === activeEntry1"
                        />
                        <label
                          for="category-checkbox1-{{ i }}"
                          class="radio-label"
                          style="cursor: pointer"
                          [ngClass]="{ bold: entry.key == activeEntry1 }"
                          >
                          {{ entry.value }}
                        </label>
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }

      @if (showGroup1) {
        <div class="filter-data">
          <div class="side-bar-title" (click)="toggleGroupVisibility()">
            <p class="parent">Categories</p>
            <img
              src="assets/images/down-arrow.svg"
              [style.transform]="showGroupValue ? 'rotate(0deg)' : 'rotate(180deg)'"
              [style.transition]="'transform 0.3s'"
              />
            </div>
            @if (showGroupValue) {
              <div>
                @for (entry of groupData | keyvalue; track entry; let i = $index) {
                  <div>
                    @if (showAll || i < initialLimit) {
                      <div class="radio-container">
                        <div class="label-input">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="category"
                            id="category-checkbox1-{{ i }}"
                            style="cursor: pointer"
                            (click)="setGroupData(entry.key, '')"
                            [ngClass]="{ selected: entry.key == activeEntry1 }"
                            [checked]="entry.key == activeEntry1"
                            />
                            <label
                              for="category-checkbox1-{{ i }}"
                              class="radio-label"
                              style="cursor: pointer"
                              [ngClass]="{ bold: entry.value == activeEntry1 }"
                              >
                              {{ entry.value }}
                            </label>
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }

          @if (showCompany1) {
            <div class="filter-data">
              <div class="side-bar-title" (click)="toggleCompaniesVisibility()">
                <p class="parent">Companies</p>
                <img
                  src="assets/images/down-arrow.svg"
        [style.transform]="
          showCompaniesValue ? 'rotate(0deg)' : 'rotate(180deg)'
        "
                  [style.transition]="'transform 0.3s'"
                  />
                </div>
                @if (showCompaniesValue) {
                  <div>
                    <ul class="list-unstyled mb-3">
                      @for (company of companyList; track company; let j = $index) {
                        <div>
                          <div class="label-input">
                            @if (showAllBrand || j < initialLimit) {
                              <li>
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="brand"
                                  id="brand-checkbox1-{{ j }}"
                                  style="cursor: pointer"
                (click)="
                  selectCompany(company.companyName, company.companyCode)
                "
                                  [ngClass]="{ selected: company.companyCode === activeCompany1 }"
                                  [checked]="company.companyCode === activeCompany1"
                                  />
                                  <label
                                    for="brand-checkbox1-{{ j }}"
                                    class="radio-label"
                                    style="cursor: pointer"
                                    [ngClass]="{ bold: company.companyCode === activeCompany1 }"
                                    >
                                    {{ company.companyName }}
                                  </label>
                                </li>
                              }
                            </div>
                          </div>
                        }
                      </ul>
                    </div>
                  }
                </div>
              }
            </div>
