@if (loading) {
  <div class="text-center"><h5>Loading products...</h5></div>
}
@if (!loading) {
  <section class="dashboard_container">
    <div class="header_container container-fluid d-flex align-items-center">
      <button
        class="btn menu_btn"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
        >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="logo_container mx-auto companyName">
        <a class="companyName">
          <span>
            <!-- NDE Digital Market -->
            @if (projectTitle === 'NDE_DIGITAL_MARKET') {
              <img
                src="assets/images/Logo/final-logo-6.png"
                alt="logo"
                />
            }
            @if (projectTitle === 'HEALTHCARE') {
              <p>Nimpex HealthCare</p>
            }
          </span>
          <!-- <img src="assets/images/Logo/final-logo-6.png" alt="logo" /> -->
        </a>
      </div>
      <div class="user_icon d-flex align-items-center">
        <ul
          class="d-flex justify-content-around justify-content-md-between w-75 align-items-center p-0 mb-0"
          >
          @if (isLoggedIn) {
            <li class="nav-item profile">
              <a>
                <div class="nav-title">
                  <i class="fa-solid fa-circle-user fs-4 mt-1"></i>
                </div>
                <div class="profile-popup p-2">
                  <div class="popup-item mt-1">
                    <a routerLink="/userProfile" class="d-flex">
                      <i class="fa-solid fa-circle-user fs-6 me-2 mt-1"></i>
                      <p>My Profile</p></a
                      >
                    </div>
                    <div class="delimiter-horizontal"></div>
                    <div class="popup-item mt-1">
                      <a
                        data-bs-toggle="modal"
                        class="d-flex"
                        data-bs-target="#changePasswordModal"
                        >
                        <i class="fa-solid fa-unlock-keyhole fs-6 me-2 mt-1"></i>
                        <p>Change Password</p>
                      </a>
                    </div>
                    <div class="delimiter-horizontal"></div>
                    <button
                      class="logout-btn rounded-pill px-4 py-1 text-white fw-bold mt-2"
                      (click)="logout()"
                      >
                      Logout
                    </button>
                  </div>
                  <ng-template #logoutButton> </ng-template>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </section>
  }
  <!-- <app-header></app-header> -->
  <div
    class="modal"
    id="changePasswordModal"
    tabindex="-1"
    aria-labelledby="changePasswordModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordModalLabel">
            Change Password
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- Add your password change form inputs here -->
          <!-- For example: -->
          <form [formGroup]="pForm">
            <div class="mb-3">
              <label for="currentPassword" class="form-label"
                >Current Password</label
                >
                <input
                  type="password"
                  formControlName="currentPassword"
                  class="form-control"
                  id="currentPassword"
              [ngClass]="{
                'border-danger':
                  isFieldInvalid('currentPassword') || errorMessage
              }"
                  />
                  @if (isFieldInvalid('currentPassword')) {
                    <div
                      class="text-danger"
                      >
                      <span>{{ getPasswordErrorMessage("currentPassword") }}</span>
                    </div>
                  } @else {
                    @if (errorMessage) {
                      <span
                        class="error-message text-danger border-danger"
                        >
                        {{ errorMessage }}
                      </span>
                    }
                  }
                </div>
                <div class="mb-3">
                  <label for="newPassword" class="form-label">New Password</label>
                  <input
                    type="password"
                    formControlName="newPassword"
                    class="form-control"
                    id="newPassword"
                    />
                    @if (isFieldInvalid('newPassword')) {
                      <div class="text-danger">
                        <span>{{ getPasswordErrorMessage("newPassword") }}</span>
                      </div>
                    }
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label"
                      >Confirm Password</label
                      >
                      <input
                        type="password"
                        formControlName="confirmPassword"
                        class="form-control"
                        id="confirmPassword"
                        />
                        <!-- <div class="text-danger" *ngIf="isFieldInvalid('confirmPassword')">
                        <span>{{ getPasswordErrorMessage('confirmPassword') }}</span>
                      </div> -->
                      @if (
                        pForm.get('confirmPassword')?.hasError('passwordMismatch') &&
                        pForm.get('confirmPassword')?.dirty
                        ) {
                        <div
                          class="text-danger"
                          >
                          Password and Confirm Password must match.
                        </div>
                      }
                    </div>
                  </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="formSubmit()">
                    Save Changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    #closeButton
                    (click)="closebtn()"
                    >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
