<div
  class="mt-2 bg-light border border-1 px-3 py-2 rounded my-2 d-flex justify-content-between"
>
  <div class="headerbtns">
    <button
      class="custom-btn new-btn"
      (click)="getProductGroup(-1); btnIndex = -1"
      [ngClass]="{ active: btnIndex === -1 }"
    >
      New
    </button>
    <button
      class="custom-btn btn-active"
      (click)="getProductGroup(1)"
      [ngClass]="{ active: btnIndex === 1 }"
      (click)="btnIndex = 1"
    >
      Active
    </button>
    <button
      class="custom-btn btn-inactive"
      (click)="getProductGroup(0)"
      [ngClass]="{ active: btnIndex === 0 }"
      (click)="btnIndex = 0"
    >
      Inactive
    </button>
  </div>

  <div>
    <button
      class="custom-btn addGroup-btn"
      data-bs-toggle="modal"
      data-bs-target="#addGroupModalCenter"
      #addGroupModalCenterG
    >
      Add Group
    </button>
  </div>
</div>
