<div class="table-body-data">
  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
    >
    #{{ i + 1 }}
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
    >
    @if (banner.isAds === true) {
      <span>Advertise</span>
    }

    @if (banner.isAds === false) {
      <span>Banner</span>
    }
  </div>

  <div
    class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
    >
    <img
      [src]="
        banner.bannerImage
          ? '/asset' + banner.bannerImage?.split('asset')[1]
          : ''
      "
      class="product_image"
      alt="Banner Image"
      />
    </div>

    <div
      class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
      >
      <p class="description">{{ banner.bannerDescription }}</p>
    </div>
    <div
      class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
      >
      {{ banner.addedDate | date : "dd MMM yyyy" }}
    </div>

    <div
      class="col tableBody"
    [ngClass]="{
      'active-row': isHovered === i
    }"
      >
      @if (banner.isBannerStatus === null) {
        <span [style.color]="'#0047AB'">Pending</span>
      }
      @if (banner.isBannerStatus === true && banner.isActive == true) {
        <span [style.color]="'green'">Approved</span>
      }
      @if (banner.isBannerStatus == false && banner.isActive == false) {
        <span [style.color]="'	#E49B0F'">Expired</span>
      }

      @if (banner.isBannerStatus == true && banner.isActive == false) {
        <span [style.color]="'red'">Rejected</span>
      }
    </div>
  </div>
