<app-header [cartCount]="cartData.length"></app-header>

<section id="page-container" class="cart-detail">
  <div id="content-wrap" class="d-flex m-3">
    <div class="full-detail">
      <div class="container-fluid cart-product">
        <div class="ps-3 pt-3">
          <h3 class="mb-0">Cart Detail</h3>
        </div>
        <hr />
        <div *ngIf="cartData.length > 0">
          <input
            type="checkbox"
            [(ngModel)]="selectAll"
            (change)="onSelectAllChange($event)"
          />
          <label for="selectAll">Select All</label>
        </div>
        <ng-container *ngFor="let entry of cartData; let i = index">
          <div class="d-flex ps-5">
            <input
              type="checkbox"
              [(ngModel)]="entry.selected"
              (change)="onEntrySelected(entry)"
            />
            <div>
              <!-- <img class="product-img" src="/assets/images/hc1.jpg" alt=""> -->
              <img
                class="rounded border border-1 mb-3"
                width="300rem"
                height="200rem"
                [src]="
                  entry.imagePath
                    ? entry.imagePath.substring(
                        entry.imagePath.indexOf('assets')
                      )
                    : '../../../assets/images/' + entry.groupName + '.jpg'
                "
                alt=""
              />
            </div>
            <div class="ps-3 product-detail">
              <span class="product-name">{{
                entry.productName + " (" + entry.productName + ")"
              }}</span>
              <p class="fw-bold price">৳{{ entry.price ? entry.price : "" }}</p>
              <p>{{ entry.companyName }}</p>
              <p>Only {{ entry.availableQty }} left in stock - order soon.</p>
              <div class="product-foot">
                <span
                  >Qty:
                  <input
                    type="number"
                    (focus)="showUpBtn = entry.id"
                    min="1"
                    max="{{ entry.availableQty }}"
                    (input)="validateInput($event, entry.availableQty)"
                    class="bg-light"
                    #changeValue
                    value="{{ entry.productCartQuantity }}"
                  />
                  |</span
                >
                <button
                  *ngIf="showUpBtn === entry.id"
                  class="btn btn-success ms-2"
                  (click)="sentcartDetails(changeValue.value, entry)"
                >
                  Update
                </button>
                <span class="ms-3 cursor" (click)="deleteCartProduct(entry)"
                  >Delete</span
                >
                <!-- <span class="ms-3 cursor"
                 (click) = "saveForLater(entry.key,entry.value)"
                >Save for later</span> -->
                <p
                  *ngIf="showUpBtn === entry.id && this.procedBtn === false"
                  #updateQty
                  class="text-danger"
                >
                  Update the Qty
                </p>
              </div>
            </div>
          </div>

          <hr *ngIf="i !== cartData.length - 1" />
        </ng-container>

        <div
          *ngIf="cartData.length === 0"
          class="text-center py-5 d-flex justify-content-center align-items-center flex-column"
        >
          <div
            class="fw-semibold fs-6 mb-1 mt-1 w-25 p-2 border border-danger rounded-2 bg-danger bg-opacity-25 text-danger d-flex justify-content-center"
          >
            No Products in Your Cart Yet!
          </div>

          <button (click)="productPage()" class="btn btn-warning">
            Go to Product
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column subtotal-parent">
      <div class="ms-4 subtotal p-4">
        <p class="subtotal-title">
          Subtotal ({{ this.totalSelectedCart }}):
          <b>৳{{ this.cartTotalAmount }}</b>
        </p>
        <button
          class="btn btn-warning mt-2 w-100"
          [disabled]="this.cartTotalAmount === 0"
          (click)="procced()"
        >
          Proceed to checkout
        </button>
      </div>
      <div class="ms-4 mt-3 h-100 subtotal">
        <p>Ads promotional things</p>
      </div>
    </div>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</section>

<!-- login modal -->
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#loginModal"
  #loginModalBTN
>
  Launch static backdrop modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="fs-3 fst-italic fw-semibold text-center"
          id="loginModalLabel"
        >
          Login
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeLoginModal
        ></button>
      </div>
      <div class="modal-body">
        <app-login-popup></app-login-popup>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>
