<div class="container-responsive">
  <div
    class="bg-white d-flex justify-content-center p-2 border border-1 rounded"
  >
    <h1 class="companyApproval_header_text">Banner Approval</h1>
  </div>

  <app-status-button
    [btnIndex]="btnIndex"
    (getProductsEvent)="getData($event)"
    [NewButton]="'New'"
    [ActiveButton]="'Approved'"
    [InactiveButton]="'Rejected'"
  ></app-status-button>
  <div class="scrollable-table border border-1 bg-light">
    <!-- TABLE header -->
    <div class="row headerRow sticky-top fw-bolder">
      <ng-container *ngFor="let header of headers">
        <div class="col tableHeader">{{ header }}</div>
      </ng-container>
    </div>
    <div>
      <h1
        *ngIf="banners.length == 0"
        class="text-center"
        style="color: red; margin-top: 15%"
      >
        Banner Not Found
      </h1>
    </div>
    <!-- table body -->

    <section
      class="row tablebodyRow fw-semibold"
      *ngFor="let cmp of banners; let i = index"
      (mouseover)="isHovered = i"
      (mouseout)="isHovered = null"
    >
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        #{{ i + 1 }}
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <ng-container *ngIf="cmp.isAds === true">
          <span>Advertise</span>
        </ng-container>

        <ng-container *ngIf="cmp.isAds === false">
          <span>Banner</span>
        </ng-container>
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ cmp.companyName ? cmp.companyName : "Admin" }}
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        {{ truncateDescription(cmp.bannerDescription) }}
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <button
          class="custom-btn btn-trade-company"
          data-bs-toggle="modal"
          data-bs-target="#showImgModal"
          (click)="showImage(cmp.bannerImage, 'Banner Image')"
        >
          view
        </button>
      </div>
      <!-- Date Picker 1 -->
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <input
          [(ngModel)]="selectedCompanyCodeValues[i + 1 + '_date1']"
          *ngIf="btnIndex !== 1"
          [value]="
            getFormattedDate2(
              selectedCompanyCodeValues[i + 1 + '_date1']
                ? selectedCompanyCodeValues[i + 1 + '_date1']
                : cmp.startDate,
              i
            )
          "
          type="date"
          class="border border-1 p-2 w-75"
          [min]="minDateTime"
          (change)="onStartDateChange(i, $event)"
        />
        <span *ngIf="btnIndex === 1">
          {{ cmp.startDate | date : "yyyy-MM-dd" }}
        </span>
      </div>

      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <input
          [(ngModel)]="selectedCompanyCodeValues[i + 1 + '_date2']"
          [value]="
            getFormattedDate(
              selectedCompanyCodeValues[i + 1 + '_date2']
                ? selectedCompanyCodeValues[i + 1 + '_date2']
                : cmp.endDate,
              i
            )
          "
          type="date"
          class="border border-1 p-2 w-75"
          [min]="
            selectedCompanyCodeValues[i + 1 + '_date1']
              ? selectedCompanyCodeValues[i + 1 + '_date1']
              : cmp.startDate
          "
        />
      </div>
      <div class="col tableBody" [ngClass]="{ 'active-row': isHovered === i }">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <button class="actionBtn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="green"
                class="bi bi-check2 me-3"
                viewBox="0 0 16 16"
                (click)="
                  updateCompany(
                    cmp.bannerID,
                    selectedCompanyCodeValues[i + 1 + '_date1']
                      ? selectedCompanyCodeValues[i + 1 + '_date1']
                      : cmp.startDate,
                    selectedCompanyCodeValues[i + 1 + '_date2'],
                    true,
                    true
                  )
                "
              >
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                />
              </svg>
            </button>
          </div>
          <div>
            <button
              class="actionBtn"
              *ngIf="btnIndex != 0"
              (click)="
                updateCompany(
                  cmp.bannerID,
                  selectedCompanyCodeValues[i + 1 + '_date1']
                    ? selectedCompanyCodeValues[i + 1 + '_date1']
                    : cmp.startDate,
                  selectedCompanyCodeValues[i + 1 + '_date2'],
                  false,
                  false
                )
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-x-lg fw-bolder"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="table-grid-view">
        <app-banner-approval-grid-view
          [banner]="banner"
          [isHovered]="isHovered"
          [i]="i"
          [btnIndex]="btnIndex"
          (truncateDescriptionEvent)="truncateDescription($event)"
          (showImageEvent)="showImage($event)"
          (selectedCompanyCodeValuesChange)="
            onSelectedCompanyCodeChange($event)
          "
        >
        </app-banner-approval-grid-view>
      </div> -->
      <!-- Modal for tadeLicence -->
      <div
        class="modal fade"
        id="showImgModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="showImgModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-xl d-flex align-items-center justify-content-center"
        >
          <div class="modal-content">
            <div class="modal-header modal-heading">
              <h1 class="modal-title text-light fs-5" id="showImgModalLabel">
                {{ imageTitle }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body text-center">
              <img
                class="company_images"
                [src]="imagePath"
                alt="no image was uploaded!"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary d-none"
  data-bs-toggle="modal"
  data-bs-target="#msgModal"
  #msgModalBTN
>
  Launch demo modal
</button>

<!-- Modal -->
<app-dynamic-alert-modal
  [alertMsg]="alertMsg"
  [alertTitle]="alertTitle"
  [id]="'msgModal'"
></app-dynamic-alert-modal>
